<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article.is_owned_by_admin? and !@article.new_record? %>
<div class='separator'>
  <h4><%= _("Merge Articles") %></h4>
  <div class=''>
    <%= form_tag "/admin/content/merge" do %>
      <%= hidden_field_tag "article_id", @article.id %>
      <%#= hidden_field_tag "id", @article.id %>
      <%= label_tag :merge_with, "Merge with" %>
      <%= text_field_tag :merge_with %>
      <%= submit_tag "Merge" %>
    <% end %>
    <span class='help-block'><%=_("Enter article title.  Merged articles will have their content merged, and the first author and title selected.") %></span>
    </div>
  </div>
<% end %>